#spojnicaContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spojnicaQuestions {
    max-width: 500px;
    border: 1px solid var(--primary);
    border-radius: 15px;
    padding: 15px;
    margin: 15px 0px;
}

.spojnicaQuestionsRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.spojnicaQuestionsRow:last-child {
    margin-bottom: 0px !important;
}

.spojnicaQuestionButton {
    min-width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--primary);
    border-radius: 5px;
    /* background-color: var(--primary); */
    color: var(--textColor);
    font-size: 14px;
    font-weight: bold;
    /* cursor: pointer; */
    margin-right: 20px;
    margin-left: 20px;
    user-select: none;
    font-size: 20px;
    padding: 15px;
    transition-duration: 0.4s;
}

.spojnicaAnswerButton {
    width: 150px !important;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--secondary);
    border-radius: 5px;
    /* background-color: var(--primary); */
    color: var(--textColor);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 20px;
    padding: 15px;
}

.spojnicaAnswerButton:hover {
    background-color: var(--secondary);
    transition-duration: 0.4s;
}

.currentQuestion {
    background: linear-gradient(to top right, transparent, var(--current)) !important;
    border: 0px dashed var(--current) !important;
    color: var(--textColor) !important;
    transition-duration: 0.4s;
    /* border: 2px solid var(--primary) !important;
    color: var(--primary) !important; */
}

.currentQuestion::before {
    content: "👉";
}

.correctQuestion {
    background: linear-gradient(to top right, transparent, var(--primary)) !important;
    color: var(--textColor) !important;
    border: 2px solid var(--primary) !important;
}

.correctQuestion::before {
    content: "✅";
}

.incorrectQuestion {
    border: 2px dashed var(--error) !important;
}

.incorrectQuestion::before {
    content: "⛔";
}

.correctAnswer {
    background: linear-gradient(to top right, transparent, var(--secondary)) !important;
    border: 2px solid var(--secondary) !important;
    cursor: block !important;
}

.addNewButton {
    margin-top: 20px;
}

.spojnicaActions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

#newQuestionContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 200px;
}